body
{
    background-color: paleturquoise;

}

#display
{
    border: 3px solid black;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

#gameGrid
{
    display:grid;
    grid-template-rows: 510px, 200px, 100px;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "title title saveButtonArea";
    text-align:center;
    vertical-align: middle;
    gap:10px;
    padding:10px;
} 

#gameGrid div
{
    background-color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
    border:solid black 4px;
    font-size:60px
}


#gameGrid div.gameButton
{
   transition-duration: 0.2s;
}
#gameGrid div.gameButton:hover
{
   transform: scale(1.1,1.1);
}

/* #saveFileButton
{
    border: solid black 1em;
    right:30px;
    position:absolute;
    padding:1em;
    height:1em;
    background-color: red;
} */
#saveFileButton
{
    box-sizing: border-box;
    background-color: aquamarine;
    width:100%;
    height:100%;
}

#saveButtonArea:hover
{
    transform: scale(1.1,1.1);
}

/* #saveFileButton:hover
{
   transform: scale(1.1,1.1);
} */

#gameGrid div#title
{
    color: grey;
    background-color: palegoldenrod;
    grid-area:title;
    font-size:60px;
    font-weight:1000;
    border:solid black 0px;
    justify-content: left;
    vertical-align: middle;
    padding:10px
}


.hidden
{
    display:none;
}