body
{
    background-color: paleturquoise;

}

#display
{
    border: 3px solid black;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);

}

#gameGrid
{
    display:grid;
    grid-template-rows: 510px, 200px, 100px;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "title title title";
    text-align:center;
    vertical-align: middle;
    gap:10px;
    padding:10px;
} 

#gameGrid div
{
    background-color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
    border:solid black 4px;
    font-size:90px
}


#gameGrid div.gameButton
{
   transition-duration: 0.2s;
}
#gameGrid div.gameButton:hover
{
   transform: scale(1.1,1.1);
}




#gameGrid div#title
{
    color: grey;
    background-color: palegoldenrod;
    grid-area:title;
    font-size:60px;
    font-weight:1000;
    border:solid black 0px;
    justify-content: left;
    align-items:normal;
    padding:10px
}
